<!doctype html>
<!--[if lt IE 7 ]> <html class="ie ie6" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if gt IE 9]><!--><html lang="<%= I18n.locale %>"><!--<![endif]-->
  <head data-hook="inside_head">
    <%= render :partial => 'spree/shared/head' %>
  </head>
  <body class="<%= body_class %>" id="<%= @body_id || 'default' %>" data-hook="body">
    <div id="page-wrapper">
      <%= render '/refinery/site_bar' %>
      <%= render :partial => 'spree/shared/header' %>
      <section id="page">

        <div class="row" data-hook>

          <%= breadcrumbs(@taxon) %>

          <%= render :partial => 'spree/shared/sidebar' if content_for? :sidebar %>

          <div id="content" class="<%= !content_for?(:sidebar) ? "col-sm-12" : "col-sm-8 col-md-9" %>" data-hook>
            <%= flash_messages %>
            <%= yield %>
          </div>

          <%= yield :templates %>

        </div>

      </section>
      <div class="footer-push"></div>
    </div>
    <footer id="page-footer">
      <%= render "/refinery/footer" -%>
    </footer>
    <%#= render :partial => 'spree/shared/footer' %>

    <%= render :partial => 'spree/shared/google_analytics' %>
  </body>
</html>
