<article class='blog_comment_message' id='<%= "comment-#{comment.to_param}" %>'>
  <div class="row">
    <div class="col-xs-12">
      <header class='blog_comment_author'>
        <p>
          <%= t('by', :scope => 'refinery.blog.posts.comments', :who => comment.name) %>,
          <%= t('time_ago', :scope => 'refinery.blog.posts.comments', :time => time_ago_in_words(comment.created_at)) %>
        </p>
      </header>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-3 col-sm-2">
      <%= image_tag avatar_url(comment.email), :alt => comment.name, :class => 'avatar' %>
    </div>
    <div class="col-xs-9 col-sm-10">
      <%= simple_format auto_link(comment.message.to_s) %>
    </div>
  </div>
</article>
