<aside id="comments">
  <% if (comments = @post.comments.approved).any? %>
    <h2><%= t('title', :scope => 'refinery.blog.posts.show.comments') %></h2>  
    <%= render :partial => "comment", :collection => comments %>
  <% end %>

  <% if Refinery::Blog::Post.comments_allowed? %>

    <% flash.each do |key, value| %>
      <div id='flash' class="flash flash_<%= key %>">
        <%= value %>
      </div>
    <% end %>

    <h2><%= t('add', :scope => 'refinery.blog.posts.show.comments') %></h2>
    <%= form_for [refinery, :blog, @comment] do |f| %>
      <%= render "/refinery/admin/error_messages",
                 :object => f.object,
                 :include_object_name => true %>
      <div class="row">
        <div class='field form-group col-xs-12 col-sm-6'>
          <%= f.label :name %>
          <%= f.text_field :name, :class => 'form-control' %>
        </div>
        <div class='field form-group col-xs-12 col-sm-6'>
          <%= f.label :email, "Email <small>(Not shared publicly)</small>".html_safe %>
          <%= f.email_field :email, :class => 'form-control' %>
        </div>
      </div>
      <div class="row">
        <div class='field message_field form-group col-xs-12'>
          <%= f.label :message %>
          <%= f.text_area :message, :rows => 6, :class => 'form-control' %>
        </div>
      </div>
      <div class='field form-actions'>
        <%= f.submit t('submit', :scope => 'refinery.blog.posts.show'), :class => 'btn btn-primary' %>
      </div>
    <% end %>
  <% end %>
</aside>
