<% content_for :body do %>
  <div id="show_blog_post">
    <%= render 'post' %>
  </div>

  <%= render 'comments' %>
<% end %>

<%= render '/refinery/blog/shared/body_content_right' %>

<%= render "/refinery/content_page", :remove_automatic_sections => true %>

<%# content_for :stylesheets, stylesheet_link_tag('refinery/blog/frontend') %>
<% content_for :javascripts do %>
  <%# enable AJAX'd post nav at your own risk until html5 history API implemented. %>
  <%#= javascript_include_tag('refinery/blog/frontend') %>
  <script src="http://w.sharethis.com/button/buttons.js"></script>
  <script>stLight.options({publisher:'<%= Refinery::Blog.share_this_key %>'});</script>
<% end if Refinery::Blog::Post::ShareThis.enabled? %>
