//Add your custom bootstrap variables here, see https://github.com/twbs/bootstrap-sass/blob/master/vendor/assets/stylesheets/bootstrap/_variables.scss for full list of variables.

@import "variables";

#spree-footer {
  background: $gray-lighter;
  padding-top: $padding-base-horizontal;
  margin-top: $line-height-computed;
  color: #fff;
}

// -- Spree Layout Custom Rules -------------------------

//TODO, bug #6
.alert-error, .alert-registration_error { @extend .alert-danger; }
.alert-alert { @extend .alert-info; }
.alert-notice { @extend .alert-info; }

.product-body {
  height: 170px;
}
.progress-steps {
  margin-top: $line-height-computed;
}
h1 {
  margin-bottom: 30px;
}

ul.product-listing {
  padding-left: 0;
}

h1.taxon-title, h6.search-results-title {
  padding-left: ($grid-gutter-width / 2)
}
