<%= fetch(:rails_env) %>:
  adapter: postgresql
  timeout: 5000
  encoding: utf8
  reconnect: false
  database: <%= "#{fetch(:application)}_#{fetch(:rails_env)}" %>
  pool: 15
  username: <%= "#{fetch(:application)}_#{fetch(:rails_env)}" %>
  password: <%= ENV["PROD_DATABASE_PW"] %>
  host: localhost
  port: 5432
