<%= fetch(:rails_env) %>:
  secret_key_base: <%= ENV["HK_SECRET_KEY_BASE"] %>
  facebook_app_id: <%= ENV["HK_FACEBOOK_APP_ID"] %>
  facebook_app_secret: <%= ENV["HK_FACEBOOK_APP_SECRET"] %>
  mandrill_username: <%= ENV["HK_MANDRILL_USERNAME"] %>
  mandrill_password: <%= ENV["HK_MANDRILL_PASSWORD"] %>
  mandrill_domain: <%= ENV["HK_MANDRILL_DOMAIN"] %>
  mailchimp_api_key: <%= ENV["HK_MAILCHIMP_API_KEY"] %>
  mailchimp_list_id: <%= ENV["HK_MAILCHIMP_LIST_ID"] %>
  s3_bucket_name: <%= ENV["HK_S3_BUCKET"] %>
  s3_access_key_id: <%= ENV["HK_S3_ACCESS_KEY"] %>
  s3_secret_access_key: <%= ENV["HK_S3_SECRET_KEY"] %>
