<% content_for :side_body do %>
  <%= yield(:side_body_prepend) %>
  <%= render "/refinery/blog/shared/posts" %>
  <%= render "/refinery/blog/shared/categories" %>
  <%= render "/refinery/blog/shared/tags" %>
  <%= blog_archive_widget %>
  <%= render "/refinery/blog/shared/rss_feed" %>
  <%= yield(:side_body_append) %>
<% end %>
