<% if @categories.any? %>
  <h2><%= t('.title') %></h2>
  <ul id='categories'>
    <% @categories.each do |category| %>
      <% css_class = "clearfix " + (@category.present? && @category.id == category.id ? "selected" : "") %>
      <li class="<%= css_class %>">
        <%= link_to "#{category.title} (#{category.post_count})", refinery.blog_category_path(category) %>
      </li>
    <% end %>
  </ul>
<% end %>