<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <%= t('.copyright', :year => Time.now.year,
                          :site_name => Refinery::Core.site_name) %>
    </div>
  </div>
</div>