<meta charset='<%= Rails.application.config.encoding %>' />
<!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" /><![endif]-->
<title><%= browser_title(yield(:title)) %></title>
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1" name="viewport">
<%= raw %(<meta name="description" content="#{@meta.meta_description}" />) if @meta.meta_description.present? -%>
<%= raw %(<link rel="canonical" href="#{request.protocol}#{request.host_with_port}#{@canonical}" />) if @canonical.present? -%>
<%= csrf_meta_tags if Refinery::Core.authenticity_token_on_frontend -%>
<%= yield :meta %>
<%= render 'shared/favicon_tags' %>

<%= stylesheet_link_tag 'fonts' %>
<%= stylesheet_link_tag "application" %>
<link href='//fonts.googleapis.com/css?family=Josefin+Sans:400,700,400italic|Dancing+Script:700' rel='stylesheet' type='text/css'>
<%= yield :stylesheets %>

<%= render '/refinery/google_analytics' %>

<%= javascript_include_tag 'modernizr-min' %>
