<div class="container-fluid" id="header-logo-container">
  <div class="row">
    <div class="col-xs-12 hidden-xs">
      <%= image_tag("banner.jpg", class: "img-responsive center-block") %>
    </div>
  </div>
</div>
<div id="nav-wrapper">
  <nav id="header-navigation" class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapsing-navigation">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= yield :spree_mobile_nav_button %>

        <% brand_title = "<span class='hidden-xs'>#{Refinery::Core.site_name}</span><span class='visible-xs-inline' aria-hidden='true'>HK Creations</span>".html_safe %>
        <%= link_to brand_title, refinery.root_path, class: 'navbar-brand' %>
      </div>

      <%= Refinery::Pages::MenuPresenter.new(refinery_menu_pages, self).to_html %>
      <%= yield :spree_navbar %>
    </div>
  </nav>
</div>