<% if refinery_user? && "#{controller_name}##{action_name}" !~ %r{preview#show} %>
  <% unless admin? # all required JS included by backend. %>
    <% content_for :stylesheets, stylesheet_link_tag('refinery/site_bar') unless !!local_assigns[:exclude_css] %>
    <%= yield(:stylesheets) unless local_assigns[:head] || local_assigns[:exclude_css] %>
  <% end -%>
  <div id='site_bar'>
    <div id='site_bar_content' class='clearfix'>
      <div id='editor_switch'>
        <%= site_bar_switch_link -%>
        <%= link_to 'Switch to store administration', spree.admin_path if current_refinery_user.has_spree_role?("admin") %>
      </div>
      <%#= link_to image_tag("refinery/logo-site-bar.png", :alt => "Refinery CMS™"),
                  'http://refinerycms.com',
                  :target => '_blank',
                  :id => 'site_bar_refinery_cms_logo' %>

      <div id='site_bar_branding'>
        <span id='site_bar_company_name'>
          <%= Refinery::Core.site_name %>
        </span>
        <%= link_to t('.log_out', site_bar_translate_locale_args),
                    refinery.logout_path, :id => 'logout' %>
      </div>
    </div>
  </div>
<% end %>
