@import 'bootstrap/mixins/grid';
@import 'bootstrap/mixins/clearfix';
@import 'variables';

section#page {
  @include container-fixed();
  @media (min-width: $screen-sm-min) {
    width: $container-sm;
  }
  @media (min-width: $screen-md-min) {
    width: $container-md;
  }
  @media (min-width: $screen-lg-min) {
    width: $container-lg;
  }
  
  section#body_content {
    @include make-row();

    section#body {
      @include make-xs-column(12);

      @media (min-width: $screen-sm-min) { 
        @include make-sm-column(8);
      }
    }

    section#side_body {
      @include make-xs-column(12);

      @media (min-width: $screen-sm-min) { 
        @include make-sm-column(4);
      }
    }
  }

  section#body_content.no_side_body {
    @include make-row();

    section#body {
      @include make-xs-column(12);

      @media (min-width: $screen-sm-min) { 
        @include make-sm-column(8);
        @include make-sm-column-offset(2);
      }
    }
  }
}