@import "variables";

#header-logo-container {
  background: $navbar-default-bg;
}

section#page {
  padding-top: floor($line-height-computed / 2);
}
button.navbar-toggle {
  width: 44px;
  height: 34px;
}

button#store-navigation {
  .glyphicon-shopping-cart{
    top: -4px;
  } 
}

#nav-wrapper {
  min-height: 50px;
}

@media (min-width: $screen-sm-min) {

  #header-navigation {
    width: 100%;
    position:static;
  }

  #header-navigation.affix {
     position: fixed;
     top: 0;
  }
}