
// Must match the height of footer#page-footer
$footer-height: 29px;

html, body {
  height: 100%;
}

#page-wrapper {
  min-height: 100%;
  margin-bottom: (-$footer-height); /* the bottom margin is the negative value of the footer's height */
}
#page-footer, .footer-push {
  height: ($footer-height); /* '.push' must be the same height as 'footer' */
}