<meta charset="utf-8">
<title><%= title %></title>
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1" name="viewport">
<%== meta_data_tags %>
<%= canonical_tag(current_store.url) %>
<%= render 'shared/favicon_tags' %>
<%#= favicon_link_tag 'favicon.ico' %>
<%#= stylesheet_link_tag 'spree/frontend/all', :media => 'screen' %>
<%= stylesheet_link_tag 'fonts' %>
<%= stylesheet_link_tag 'application' %>
<link href='//fonts.googleapis.com/css?family=Josefin+Sans:400,700,400italic|Dancing+Script:700' rel='stylesheet' type='text/css'>
<%= csrf_meta_tags %>
<%#= javascript_include_tag 'spree/frontend/all' %>
<%= javascript_include_tag 'application' %>
<%= javascript_include_tag 'modernizr-min' %>

<!--[if lt IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6/html5shiv.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js"></script>
<![endif]-->
<%= yield :head %>
