<%= content_for :spree_mobile_nav_button do %>
  <button type="button" id="store-navigation" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapsing-store-navigation">
    <span class="sr-only">Toggle store navigation</span>
    <span class="glyphicon glyphicon-shopping-cart"></span>
  </button>
<% end %>

<%= content_for :spree_navbar do %>
  <div class="collapse navbar-collapse" id="collapsing-store-navigation">
    <ul id="nav-bar" class="nav navbar-nav navbar-right" data-hook>
      <li id="search-bar" data-hook>
        <%= render :partial => 'spree/shared/search' %>
      </li>
    </ul>

  </div>
<% end %>