<!DOCTYPE html>
<%= render "/refinery/html_tag" %>
  <% site_bar = render('/refinery/site_bar', :head => true) -%>
  <head>
    <%= render "/refinery/head" %>
    <%= render "/refinery/javascripts" %>
  </head>
  <body id="<%= canonical_id @page %>">
    <%= site_bar -%>
    <div id="page-wrapper">
      <div id="page_container">
        <header id="header" data-hook>
          <%= render "/refinery/header" -%>
        </header>
        <section id="page">
          <%= yield %>
        </section>
      </div>
      <div class="footer-push"></div>
    </div>
    <footer id="page-footer">
      <%= render "/refinery/footer" -%>
    </footer>
  </body>
</html>
